body {
  margin: 0;
  padding: 0;
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr, button {
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans";
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(100vw / 320 * 16);
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(100vw / 480 * 16);
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: calc(100vw / 720 * 16);
  }
}

@media screen and (min-width: 1080px) {
  html {
    font-size: calc(100vw / 1080 * 16);
  }
}

@media screen and (min-width: 1620px) {
  html {
    font-size: calc(1620px / 1080 * 16);
  }
}

p {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.75568rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.83712rem;
  line-height: 2.25rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.22474rem;
  line-height: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

@keyframes slideTop {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes slideBottom {
  from {
    transform: translate(0, calc(100% + 47px));
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(0, 1.5rem);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

header {
  position: fixed;
  display: block;
  top: 0;
  height: 4.5rem;
  width: 100%;
  min-width: 320px;
  padding: 1.5rem;
  z-index: 10;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #ff671f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-animation: slideTop 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideTop 2s;
  /* Firefox < 16 */
  -ms-animation: slideTop 2s;
  /* Internet Explorer */
  -o-animation: slideTop 2s;
  /* Opera < 12.1 */
  animation: slideTop 2s;
}

@media screen and (max-height: 720px) {
  header {
    position: relative;
  }
}

nav {
  display: block;
  margin: auto;
  max-width: 1620px;
  font-size: 0.8165rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
  color: #FFF;
  padding: 0 1.5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.logo {
  float: left;
  display: block;
}

@media screen and (max-width: 1080px) {
  .logo {
    float: none;
    margin: auto;
    text-align: center;
  }
}

.logo a {
  opacity: 0.70;
}

.logo a:focus, .logo a:hover {
  opacity: 0.85;
}

.logo a:active {
  opacity: 1;
}

.logo a img {
  height: 1rem;
  margin-top: 0.25rem;
}

ul {
  list-style-type: none;
  float: right;
  margin: 0;
}

@media screen and (max-width: 1080px) {
  ul {
    display: none;
  }
}

ul li {
  display: inline-block;
  height: 1.5rem;
  padding: 0 0.75rem 0 0.75rem;
}

@media screen and (max-width: 1080px) {
  ul li {
    display: none;
  }
}

ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

ul li a:focus, ul li a:hover {
  color: rgba(255, 255, 255, 0.85);
}

ul li a:active {
  color: white;
}

#menuTitle {
  font-weight: bold !important;
}

@media screen and (max-width: 1080px) {
  #menuTitle {
    display: inline-block;
  }
}

footer {
  position: fixed;
  bottom: 0;
  height: 4.5rem;
  width: 100%;
  min-width: 320px;
  padding: 1.5rem;
  z-index: 10;
  font-size: 0.66667rem;
  line-height: 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.33);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #eb4b03;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-animation: slideBottom 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideBottom 2s;
  /* Firefox < 16 */
  -ms-animation: slideBottom 2s;
  /* Internet Explorer */
  -o-animation: slideBottom 2s;
  /* Opera < 12.1 */
  animation: slideBottom 2s;
}

@media screen and (max-height: 480px) {
  footer {
    position: relative;
  }
}

footer a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

footer a:focus, footer a:hover {
  color: rgba(255, 255, 255, 0.85);
}

footer a:active {
  color: white;
}

.bttn {
  margin: 0;
  width: 17rem;
  background-color: #3cbfae;
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  border-radius: 1.5rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 20;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0 !important;
  cursor: pointer;
}

.bttn span {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.bttn:focus, .bttn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: translate(-50%, calc(-50% - 5px)) !important;
}

.bttn:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(-50%, calc(-50% - 2px)) !important;
}

main {
  position: relative;
  margin: 0;
  min-height: 320px;
  padding: 4.5rem 0 7.5rem 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media screen and (max-height: 720px) {
  main {
    padding-top: 1.5rem;
  }
}

article {
  padding: 0 3rem 0 3rem;
  color: #fff;
  max-width: 1620px;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
  text-align: left;
}

@media screen and (min-width: 720px) {
  article {
    padding: 0 2.25rem 0 2.25rem;
  }
}

article .title {
  text-align: center;
}

@media screen and (max-width: 720px) {
  article .title {
    font-size: 1.83712rem;
    line-height: 2.25rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}

article .tagline {
  font-style: italic;
  text-align: center;
  text-transform: none;
}

@media screen and (max-width: 720px) {
  article .tagline {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}

#aboveFold {
  position: relative;
  width: 100%;
  height: calc(100vh - 6 * 1.5rem);
}

@media screen and (max-height: 720px) {
  #aboveFold {
    height: calc(100vh - 3 * 1.5rem);
  }
}

.svgBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 6 * 1.5rem);
  background-image: url("bckg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-blend-mode: multiply;
  opacity: 0.5;
  -webkit-animation: slideTop 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideTop 2s;
  /* Firefox < 16 */
  -ms-animation: slideTop 2s;
  /* Internet Explorer */
  -o-animation: slideTop 2s;
  /* Opera < 12.1 */
  animation: slideTop 2s;
}

#belowFold {
  position: relative;
}

.feature {
  width: 100%;
  padding-top: 144px;
  padding-bottom: 120px;
}

.feature p {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.feature .image img {
  display: block;
  margin: auto;
  max-height: 50vh;
}

.feature .columns {
  display: block;
  overflow: auto;
}

.feature .leftColumn {
  display: block;
  width: 100%;
  float: none;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .feature .leftColumn {
    width: calc(100% / (624 / 224));
    padding-right: 1.5rem;
    float: left;
  }
}

@media screen and (min-width: 1080px) {
  .feature .leftColumn {
    width: calc(100% / (984 / 224));
  }
}

.feature .rightColumn {
  display: block;
  width: 100%;
  float: none;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  .feature .rightColumn {
    width: calc(100% - (100% / (624 / 224)));
    padding-left: 1.5rem;
    float: right;
  }
}

@media screen and (min-width: 1080px) {
  .feature .rightColumn {
    width: calc(100% - (100% / (984 / 224)));
  }
}

.feature h3 span {
  font-weight: normal;
}

.clear {
  clear: right;
}

.softWrap {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1620px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.opticalCenter {
  position: absolute;
  top: calc(37.5vh - 24px);
  left: 50%;
  transform: translate(-50%, -50%);
}

hr {
  border: none;
  color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  height: 1px;
  width: 100%;
}

.viewPort {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 30;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.gradient {
  background: #ff671f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff671f 0%, #eb4b03 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff671f), color-stop(100%, #eb4b03));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff671f 0%, #eb4b03 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff671f 0%, #eb4b03 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff671f 0%, #eb4b03 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff671f 0%, #eb4b03 100%);
  /* W3C */
  background-attachment: fixed;
}

.center.both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center.horizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.center.vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.fader {
  width: 100%;
  position: absolute;
}

#topFader {
  top: 4.5rem;
  height: 3rem;
  left: 0;
  background: #ff671f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff671f 0%, rgba(255, 103, 31, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff671f), color-stop(100%, rgba(255, 103, 31, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff671f 0%, rgba(255, 103, 31, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff671f 0%, rgba(255, 103, 31, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff671f 0%, rgba(255, 103, 31, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff671f 0%, rgba(255, 103, 31, 0) 100%);
  /* W3C */
}

#bottomFader {
  bottom: 4.5rem;
  height: 6rem;
  left: 0;
  background: rgba(235, 75, 3, 0);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(235, 75, 3, 0) 0%, #eb4b03 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(235, 75, 3, 0)), color-stop(100%, #eb4b03));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(235, 75, 3, 0) 0%, #eb4b03 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(235, 75, 3, 0) 0%, #eb4b03 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(235, 75, 3, 0) 0%, #eb4b03 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(235, 75, 3, 0) 0%, #eb4b03 100%);
  /* W3C */
}
