body {
  margin: 0;
  padding: 0;
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr, button {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: calc(100vw / 6 * 4);
  width: 100vw;
  max-width: 300vh;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-aspect-ratio: 1 / 1){
    height: 200vw;
    max-height: 150vh;
    width: calc(100vh / 4 * 3);
  }
  @media screen and (max-width: 640px){
    height: 200vw;
    max-height: 150vh;
    width: calc(100vh / 4 * 3);
  }
}

.copy {
  height: 50%;
  width: 50%;
  background-color: blue;
  float: left;
  @media screen and (max-aspect-ratio: 1 / 1){
    height: calc(100% / 3);
    width: 100%;
    float: none;
  }
  @media screen and (max-width: 640px){
    height: calc(100% / 3);
    width: 100%;
    float: none;
  }
}

.image {
  height: 100%;
  width: 50%;
  background-color: green;
  float: right;
  @media screen and (max-aspect-ratio: 1 / 1){
    height: calc(100% / 3 * 2);
    width: 100%;
    float: none;
  }
  @media screen and (max-width: 640px){
    height: calc(100% / 3 * 2);
    width: 100%;
    float: none;
  }
}
