@keyframes slideTop {
  from {
    transform: translate(0, -100%);
  }

  to {
    transform: translate(0, 0);
  }
}
@keyframes slideBottom {
  from {
    transform: translate(0, calc(100% + 47px));
  }

  to {
    transform: translate(0, 0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(0, $lineHeight);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
